/* decorative styles, irrelevant to menu */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header > .inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0b162f;
  color: #fff;
  width: 100%;
  padding: 0 20px;
  height: 40px;
}

.header > .reserved {
  height: 40px;
}

.header h1 {
  display: inline-block;
  font-size: 2em;
  margin: 0;
  margin-left: 15px;
  line-height: 40px;
  white-space: nowrap;
}

.ddm-menu {
  background-color: #333;
  color: #fff;
}

.ddm-menu .head {
  background-color: #0b162f;
  padding: 0 20px;
  line-height: 40px;
  font-size: 2em;
}

.ddm-menu .body {
  padding-bottom: 20px;
}

.ddm-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ddm-menu li {
  padding: 10px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.fa-ul {
  position: relative;
}

.issues li i {
  color: red;
}

.issues li i:before {
  content: "\f00d"; /* .fa-times */
  visibility: visible;
}

.issues li[x] {
  text-decoration: line-through;
}

.issues li[x] i {
  color: green;
}

.issues li[x] i:before {
  content: "\f00c"; /* .fa-check */
}

.issues li[x='?'] {
  text-decoration: none;
}

.issues li[x='?'] i:before {
  content: "\f128"; /* fa-question */
  color: blue;
}

.menu-right-toggle {
  position: absolute;
  right: 20px;
  top: 7px;
}

.another-menu-left .head {
  background-color: #2354ac;
}

.page-wrap {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: visible;
  position: static;
}
