/* hide all but the menu we are working on */
.ddm-menu { display: none; }
.show { display: block; }

.ddm-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ddm-menu-container__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ddm-menu-container--open-left > .ddm-menu-container__inner {
  left: 85%;
}

.ddm-menu {
  position: absolute;
  top: 0;
  left: -85%;
  width: 85%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
